body {
    background-color: lightgray;
}

th {
    font-family: 'Ubuntu', light-300;
}

.chess-board {
    border-spacing: 0;
    border-collapse: collapse;
    position: absolute;
    top: 20%;
    left: 35%;
}

.chess-board th {
    padding: 0.5em;
}

.chess-board th:not(:first-child) {
    border-bottom: 1px solid #000;
}

.chess-board th:first-child {
    border-right: 1px solid #000;
}

.chess-board th:empty {
    border: none;
}

.chess-board td {
    position: relative;
    width: 1.5em;
    height: 1.5em;
    text-align: center;
    font-size: 32px;
    line-height: 0;
}

.chess-board .light {
    background: #eee;
}

.chess-board .dark {
    background: #aaa;
}

img{
    width: 1em;
    height: 1em;
}


.black.r {
    background-image: url('../img/black-rock.png');
}

.black.n {
    background-image: url('../img/black-knight.png');
}

.black.b {
    background-image: url('../img/black-bishop.png');
}

.black.q {
    background-image: url('../img/black-queen.png')
}

.black.k {
    background-image: url('../img/black-king.png')
}

.black.p {
    background-image: url('../img/black-pond.png')
}

.white.r {
    background-image: url('../img/white-rock.png');
}

.white.n {
    background-image: url('../img/white-knight.png');
}

.white.b {
    background-image: url('../img/white-bishop.png');
}

.white.q {
    background-image: url('../img/white-queen.png')
}

.white.k {
    background-image: url('../img/white-king.png')
}

.white.p {
    background-image: url('../img/white-pond.png')
}

.chess-board td > div {
    display: inline-block;
    background-size: cover;
    width: 1em;
    height: 1em;
}

.chess-board td.selected {
    background: rgb(208, 240, 192)
}
